.container
	.row
		.twelvecol{:class => 'about'}
			.watisthisidonteven
				This site was written as an experiment. It was never intended to be widely used, nor used at all, but serves more as a proof of concept. It uses the newer Facebook API/Open Graph Protocol, and the Twitter API, and combines them with a media hosting and encoding service. It also includes some inner functions for posting messages to the site (Twitter style) as well as private messages to other potential users. 
				